﻿table, thead tr, th, td {
    border: 1px solid black;
}

table {
    width: 300px;
}

section {
    border: 1px solid black;
}

#messages_section {
    max-height: 200px;
    border: 1px solid black;
    margin: 5px;
    overflow: scroll;
}
